[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lessSEM"]
	path = lessSEM
	url = https://github.com/jhorzek/lesssem
[submodule "mxsem"]
	path = mxsem
	url = https://github.com/jhorzek/mxsem
